.experience {
	padding-top: 15rem;

	&__terms {
		flex-basis: 50%;

		@include devices {
			flex-basis: 100%;
		}
	}

	&__animation {
		flex-basis: 25%;

		&::before {
			content: "";
			display: block;
			width: 100%;
			max-width: 350px;
			background-image: url("../images/sprites/png/boy_center.png");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			aspect-ratio: 0.56;

			@include retina {
				background-image: url("../images/sprites/png/boy_center@2x.png");
			}

			@include devices {
				margin: 0 auto;
				max-width: 200px;
			}
		}

		@include devices {
			flex-basis: 100%;
		}
	}

	&__education {
		display: flex;
		flex-basis: 25%;
		flex-flow: column nowrap;
		align-items: center;

		@include devices {
			flex-basis: 100%;
			flex-flow: row wrap;
			align-items: flex-start;
		}
	}

	&__wrapper {
		&::before {
			content: "";
			position: absolute;
			bottom: 100%;
			z-index: 0;
			display: block;
			width: 100%;
			background-image: url("../images/sprites/png/wave_0.png");
			background-position: 0 0;
			background-size: cover;
			background-repeat: no-repeat;

			@include retina {
				background-image: url("../images/sprites/png/wave_0@2x.png");
			}

			@include devices {
				left: 20px;
				right: 20px;
				width: calc(100% - 40px);
				aspect-ratio: 4.1;
			}

			@include desktop {
				left: 40px;
				right: 40px;
				width: calc(100% - 80px);
				aspect-ratio: 3.8;
			}

			@include desktop-xl {
				left: 0;
				right: 0;
				aspect-ratio: 3.2;
			}
		}
	}

	@include devices {
		padding-top: 60px;
	}
}

:root {
	.experience {
		&__wrapper {
			&::before {
				background-image: url("../images/wave_0.svg");
			}
		}

		&__animation {
			&::before {
				width: 350px;
				background-image: url("../images/boy_center.svg");

				@include devices {
					width: 200px;
					aspect-ratio: 0.76;
				}
			}
		}
	}
}

.company {
	&__header {
		position: relative;
		margin-top: 0;
		margin-bottom: 0.571rem;
		font-size: 1rem  /* 14/14 */;
		line-height: 1.214rem  /* 17/14 */;

		&--no-icon {
			@include mobile {
				padding-left: 0;
			}
		}

		@include mobile {
			padding-left: 40px;
		}
	}

	&__name {
		margin-right: 8px;
		font-weight: 700;
	}

	&__location {
		font-weight: 400;

		@include mobile {
			display: block;
		}
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
		width: 30px;
		aspect-ratio: 1;

		@include mobile {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__description {
		line-height: 1.429rem  /* 20/14 */;
	}

	&__links,
	&__description {
		display: block;
	}
}

.work {
	color: $color-black;
	background-color: $color-white;

	&__header {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 1rem  /* 14/14 */;
		line-height: 1.214rem  /* 17/14 */;
	}

	&__period {
		margin-top: 0;
		margin-bottom: 8px;
		color: $color-gray;
	}

	&:not(:last-child) {
		margin-top: 0;
		margin-bottom: 4.286rem  /* 60/14 */;
	}
}

.caption {
	&__icon {
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
	}
}

.sources {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-top: 3px;

	&__link {
		display: inline-block;
		flex: 0 0 auto;
		border-bottom: 1px solid $color-blue;
		color: $color-blue;
	}
}

.education {
	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;
	}

	&__item {
		margin-top: 0;

		&:not(:last-child) {
			padding-bottom: 2.143rem  /* 30/14 */;
		}

		@include devices {
			flex-basis: 50%;
		}
	}

	&__list {
		@include devices {
			display: flex;
			flex-basis: 100%;
			flex-flow: row wrap;
		}
	}
}

.speciality {
	width: 100%;
	max-width: 13.571rem  /* 190/14 */;
	font-size: 1rem  /* 14/14 */;
	line-height: 1.429rem  /* 20/14 */;
	text-align: center;

	&__header {
		margin-top: 0;
		margin-bottom: 5px;
	}

	@include devices {
		margin: 0 auto;
	}
}

.trainer {
	&__period,
	&__name {
		display: block;
	}
}
