.skills {
	padding-top: 13rem  /* 182/14 */;
	color: $color-black;
	background-color: $color-white;

	&__list {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			display: block;
			width: 100%;
			background-image: url("../images/sprites/png/wave_2.png");
			background-position: 0 0;
			background-size: cover;
			background-repeat: no-repeat;
			aspect-ratio: 4;

			@include retina {
				background-image: url("../images/sprites/png/wave_2@2x.png");
			}

			@include devices {
				bottom: calc(100% + 50px);
				height: auto;
				background-position: -40px 0;
				aspect-ratio: 6;
			}
		}
	}

	&__item {
		flex-basis: 25%;
		padding-right: 0.714rem;
		padding-left: 0.714rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;

			@include devices {
				padding: 0;
			}
		}

		@include devices {
			flex-basis: 100%;
			padding: 0 0 1.429rem  /* 20/14 */;
		}
	}

	&__header {
		margin-bottom: 2.143rem  /* 30/14 */;
	}

	&__outro {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 4.286rem  /* 60/14 */;
		padding-bottom: 4.286rem  /* 60/14 */;

		&::before {
			content: "";
			display: block;
			width: 100%;
			max-width: 512px;
			background-image: url("../images/sprites/png/hands_like.png");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			aspect-ratio: 1.5;

			@include retina {
				background-image: url("../images/sprites/png/hands_like@2x.png");
			}
		}

		@include devices {
			padding-top: 3.571rem  /* 50/14 */;
			padding-bottom: 0;
		}
	}

	@include devices {
		padding-top: 80px;
	}
}

.skill {
	&__header {
		margin-top: 0;
		margin-bottom: 6px;
		font-size: 1rem  /* 14/14 */;
		line-height: 1.143rem  /* 16/14 */;
	}

	&__description {
		line-height: 1.429rem  /* 20/14 */;
	}
}

:root {
	.skills {
		&__list {
			&::before {
				background-image: url("../images/wave_2.svg");
			}
		}

		&__outro {
			&::before {
				background-image: url("../images/hands_like.svg");
			}
		}
	}
}
