// .welcome {
// }

.intro {
	&__image {
		overflow: hidden;
		width: 80px;
		background: $color-white $pictureFallback center center no-repeat;
		background-size: contain;
		aspect-ratio: 1;
	}

	&__header {
		margin-top: 0;
	}
}
