.welcome {
	&__inner {
		position: relative;
		justify-content: space-between;
	}

	&__intro {
		flex-basis: 50%;
	}

	&__contacts {
		flex-basis: 25%;
		padding-top: 10px;
	}

	&__intro,
	&__contacts {
		flex-grow: 0;

		@include devices {
			flex-basis: 100%;
		}
	}
}

.intro {
	position: relative;

	&::before {
		@include sprite("wave_1");

		content: "";
		position: absolute;
		top: -7.857rem  /* -110/14 */;
		mix-blend-mode: normal;

		@include devices {
			display: none;
		}

		@include desktop {
			right: 19.286rem  /* 270/14 */;
		}

		@include desktop-xl {
			right: 15rem;
		}
	}

	&__image {
		@include sprite("logo");

		flex-grow: 0;
		flex-shrink: 0;
		overflow: hidden;
	}

	&__header {
		margin-top: 0;
		font-size: 2.571rem  /* 36/14 */;
		line-height: 3.571rem  /* 50/14 */;
		color: $color-black;
	}

	&__descripton {
		line-height: 1.429rem  /* 20/14 */;
	}
}

:root {
	.intro {
		&::before {
			width: 103px;
			height: 155px;
			background-image: url("../images/wave_1.svg");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

.candidate {
	&__caption,
	&__name {
		display: block;
	}
}

.share {
	display: flex;

	&__item {
		margin-right: 1.429rem  /* 20/14 */;
		width: 25px;
		aspect-ratio: 1;
	}

	&__icon {
		aspect-ratio: 1;
	}
}

.contacts {
	&__item {
		margin-top: 0;

		&:not(:last-child) {
			margin-bottom: 0.714rem;
		}
	}

	&__list {
		margin-bottom: 1.071rem  /* 15/14 */;
	}
}
