section.experience
	.container
		.row
			h2.experience__header.visually-hidden Опыт работы и образование кандидата
			section.experience__terms.section
			.experience__animation.area
			section.experience__education.section.education
