header.header
	.container
		nav.navigation.menu
			ul.navigation__list
				each object, key in data.header.menu
					li.menu__item
						a.menu__link.js-to-anchor(
							href=object.url
							data-link=key
							title=object.title
						)
							!= object.name
