header.header
	.container
		nav.navigation.menu.burger
			button.navigation__button.burger__button.for-devices(type="button")
			ul.navigation__list.row
				each object, key in data.header.menu
					li.menu__item
						a.menu__link.js-to-anchor(
							href=object.url
							data-link=key
							title=object.title
						)
							!= object.name
