-
	const data = {
		header: {
			menu: [
				{
					url: '#hello',
					name: 'Резюме',
					title: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе',
					title: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки',
					title: 'Навыки'
				}
			],
		},
		contacts: [
			{
				url: 'mailto: al-programmist@yandex.ru',
				name: 'al-programmist@yandex.ru',
				title: 'Электронная почта'
			},
			{
				url: 'tel: +79149374741',
				name: '+7 (914) 937-47-41',
				title: 'Телефон'
			},
			{
				url: '#',
				name: 'г. Владимир',
				title: 'Город'
			}
		],
		share: [
			{
				name: 'fb',
				url: 'https://www.facebook.com/sharer.php?u=<?php the_permalink(); ?>&t=<?php the_title(); ?>',
				title: 'facebook',
				icon: 'fb'
			},
			{
				name: 'vk',
				url: 'https://vk.com/share.php?url=<?php the_permalink(); ?>',
				title: 'vkontakte',
				icon: 'vk'
			},
			{
				name: 'tg',
				url: 'https://t.me/share/url?url=<?php the_permalink(); ?>&text=<?php the_title(); ?>',
				title: 'telegram',
				icon: 'tg'
			},
		],
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
