*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-family-sf;
	font-size: $base-fz;
	scroll-behavior: smooth;

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

main {
	flex: 1;
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	font-size: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	transition: $duration-normal;
	user-select: none;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100%;
		color: currentColor;
		transform: translateZ(0);
	}
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

.container {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;

	@include devices {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include desktop {
		padding-right: 40px;
		padding-left: 40px;
	}

	@include desktop-xl {
		padding-right: 0;
		padding-left: 0;
		max-width: px(1140, $base: $laptop);
	}
}

.site {
	display: flex;
	flex-direction: column;
	padding-top: 7.143rem  /* 100/14 */;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);

	@include devices {
		padding-top: 5.714rem  /* 80/14 */;
	}
}

.row {
	display: flex;
	flex-flow: row nowrap;

	@include devices {
		flex-wrap: wrap;
	}
}

.section {
	background-color: $color-white;

	&__header {
		margin-top: 0;
		font-size: 1.714rem  /* 24/14 */;
		line-height: 2.071rem  /* 29/14 */;
		color: $color-black;
		background-color: $color-white;

		@include mobile {
			font-size: 1.429rem  /* 20/14 */;
			line-height: 1.643rem  /* 23/14 */;
		}
	}
}

.icon {
	svg {
		display: none;
	}
}

:root {
	.icon {
		background-image: none;

		svg {
			display: block;
		}
	}

	.share__icon {
		width: 25px;
	}

	.caption__icon {
		width: 34px;
		height: 16px;
	}

	.education__icon {
		width: 61px;
		height: 42px;
	}
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.001s !important;
		animation-delay: 0s !important;
		transition-duration: 0.001s !important;
		transition-delay: 0s !important;
	}
}
/* stylelint-enable */
