$sprites: (
	"21vek": (
		normal: (
			x: 1008,
			y: 202,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 2016,
			y: 404,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"arrow_up": (
		normal: (
			x: 904,
			y: 296,
			width: 20,
			height: 25,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 592,
			width: 40,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"boy_center": (
		normal: (
			x: 0,
			y: 0,
			width: 500,
			height: 500,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 0,
			y: 0,
			width: 1000,
			height: 1000,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"boy_note": (
		normal: (
			x: 502,
			y: 0,
			width: 400,
			height: 400,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1004,
			y: 0,
			width: 800,
			height: 800,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"cg_artist": (
		normal: (
			x: 974,
			y: 202,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1948,
			y: 404,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"cjs": (
		normal: (
			x: 904,
			y: 237,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 474,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"content_specialist": (
		normal: (
			x: 1023,
			y: 269,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 2046,
			y: 538,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"digital_designer": (
		normal: (
			x: 968,
			y: 269,
			width: 26,
			height: 17,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1936,
			y: 538,
			width: 52,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"fb": (
		normal: (
			x: 1000,
			y: 237,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 2000,
			y: 474,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"freelance_designer": (
		normal: (
			x: 931,
			y: 269,
			width: 35,
			height: 17,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1862,
			y: 538,
			width: 70,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"graphic_design": (
		normal: (
			x: 1014,
			y: 152,
			width: 33,
			height: 33,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 2028,
			y: 304,
			width: 66,
			height: 66,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"hands_like": (
		normal: (
			x: 0,
			y: 502,
			width: 512,
			height: 288,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 0,
			y: 1004,
			width: 1024,
			height: 576,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"integral": (
		normal: (
			x: 936,
			y: 237,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1872,
			y: 474,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"interface_design": (
		normal: (
			x: 904,
			y: 152,
			width: 70,
			height: 48,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 304,
			width: 140,
			height: 96,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"its": (
		normal: (
			x: 904,
			y: 202,
			width: 33,
			height: 33,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 404,
			width: 66,
			height: 66,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"lead_seo_specialist": (
		normal: (
			x: 996,
			y: 269,
			width: 25,
			height: 17,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1992,
			y: 538,
			width: 50,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"logo": (
		normal: (
			x: 904,
			y: 0,
			width: 150,
			height: 150,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 0,
			width: 300,
			height: 300,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"oz": (
		normal: (
			x: 968,
			y: 237,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1936,
			y: 474,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"processing": (
		normal: (
			x: 514,
			y: 502,
			width: 260,
			height: 242,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1028,
			y: 1004,
			width: 520,
			height: 484,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"seo_specialist": (
		normal: (
			x: 939,
			y: 202,
			width: 33,
			height: 33,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1878,
			y: 404,
			width: 66,
			height: 66,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"software_support_engineer": (
		normal: (
			x: 926,
			y: 296,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1852,
			y: 592,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"tg": (
		normal: (
			x: 1027,
			y: 237,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 2054,
			y: 474,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"usability": (
		normal: (
			x: 976,
			y: 152,
			width: 36,
			height: 36,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1952,
			y: 304,
			width: 72,
			height: 72,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
	"vk": (
		normal: (
			x: 904,
			y: 269,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 1054,
			total_height: 790,
		),
		retina: (
			x: 1808,
			y: 538,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 2108,
			total_height: 1580,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
